nav {
  position: relative;
  margin-top: -120px;
  color: black;
}

nav a {
  color: black;
}

#ideavo_logo {
  margin-top: -5px;
}

.bg-dark {
    background-color: transparent!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.15s ease-in;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 50%;
    transition: 0.15s ease-in;
}

.nav-link a:hover {
  color: black;
}

.social_media {
  margin-right: 18px;
}

.cta_social_media {
margin-right: 10px;
}

.icon_social {
  padding: 0 4px;
}

.icon_social a {
  text-decoration: none;
}

.icon_social a:hover {
  text-decoration: none;
}

.icon_social img {
  height: 22px;
  transition: 0.15s ease-in;
}

.icon_social img:hover {
  opacity: 0.5;
}

.spacer {
  position: relative;
  z-index: 12;
  margin-top: 30px;
  width: 100%;
  height: 1.5px;
  background-color: black;
}

.btn-outline-light {
  color: black;
  outline-color: black;
  border-color: black;
}

.btn {
  border: 1.4px solid black;
}
